div.main {
	position: absolute;
	left: 20%;
	/*background-color: green; */
	height: 100%;
	width: 60%;
	border-right: thin solid black;
}
div.main > h1 {
	margin-left: 18%; 
	font-family: MainBold;
}
div.main > p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	width: 55%;
	margin-left: 25%;
}
div.main > h3 {
	margin-left: 20%;
	font-family: MainBold;
}
div.leftside {
	position: absolute;
	height: 100%;
	/*background-color: red; */
	width: 20%;
	border-right: thin solid black;
}
div.leftside > h1 {
	margin-left: 30%;
	font-family: MainBold;
}
div.rightside {
	position: absolute;
	height: 100%;
	left:80%;
	width: 20%;
}
div.rightside > h1 {
	margin-left: 25%;
	font-family: MainBold;
}
.bline {
	border-bottom: thin solid black;
}