/* nav bar top css file */

ul.nav {
	font-family: MoonLight;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
    box-shadow: 0px 8px 16px 0px rgba(1,0,0,0.2);
}

li.nav {
    float: left;
}

.active {color: white;background-color: black;}
.active:hover {background-color: black;}

li.nav a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}

li.nav a:hover, .dropdown:hover .dropbtn {
    background-color: lightblue;
    color: black;
}

.logo {
display: inline-block;
vertical-align: top;
height: 18px;
width:100px;
}

.logobig {
    margin-top: 0px;
    margin-left: 200px;
    height: 100px;
    width: 400px;
    padding: 10px 10px;
    border-bottom: thin solid black;
    border-right: thin solid black;
    border-left: thin solid black;
}